<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description" content="Web site created using create-react-app"/>

        <meta name="decorator" content="bitbucket.project.general">
        <meta name="projectKey" content="$project.key">
        <meta name="activeTab" content="stackdrive-project-solution-plugin-tab">
        <title>$project.key / $i18n.getText("stackdrive.main.label")</title>
    </head>
    <body>
        #if( $noRepos )
        <div></div>
        <h2>Not one repository is connected to Solution report</h2>
        <p>Please check <b>"StackDrive project added"</b> in repository settings</p>
        #else
        <noscript>You need to enable JavaScript to run this app.</noscript>

        <iframe src="$solution" frameborder = "no" style="position: absolute; width: 80%; height: 95%;">
        </iframe>
        #end
    </body>
</html>